<div class="main-top">
    <div class="container-fluid ">
        <div class="loginbar">
            <div class=" login-signup">
                <a class="btn btn-primary btn-lg {{#if user}}hidden{{/if}}" href="/user">Login</a>
            </div>
            <div class="login-info {{#if user}}{{else}}hidden{{/if}}">
                <a href="/account">
                    <img class="avatar rounded-circle" src="{{user.imgSrc}}" style=" height:50px;width:50px "
                        alt="avatar">
                    <span style="color: #ffffff;">{{user.name}}</span>
                </a>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-caret-down fa-fw"
                            style="background-color: black;transform: scale(1.5,1.5);"></i></a>
                    <ul class="dropdown-menu account-dropdown" style="background-color: black;">
                        <li><a href="/account" style="color: white"><i class="fas fa-user mx-2"></i>My account</a></li>
                        <hr>
                        <li><a href="/user/fa-list" style="color: white;"><i class="fas fa-heart mx-2"></i>Favourite
                                List</a>
                        </li>
                        <hr>
                        <li><a href="/user/history" style="color: white;"><i class="fas fa-history mx-2"></i>Purchased
                                History</a></li>
                        <hr>
                        <li><a href="/user/signout" style="color: white;"><i class="fas fa-sign-out-alt mx-2"></i>Log
                                out</a>
                        </li>
                    </ul>
                </li>
            </div>

        </div>
    </div>
</div>