<div class="main-top">
    <div class="container-fluid ">
        <div class="loginbar">
            <div class=" login-signup">
                <a class="btn btn-primary btn-lg {{#if user}}hidden{{/if}}" href="/user">Login</a>
            </div>
            <div class="login-info {{#if user}}{{else}}hidden{{/if}}">
                <a href="/account">
                    <img class="avatar rounded-circle" src="{{user.imgSrc}}" style=" height:50px;width:50px "
                        alt="avatar">
                    <span style="color: #ffffff;">{{user.name}}</span>
                </a>

                <a href="user/signout" class="btn hvr-hover logout-btn custom-btn">Sign out</a>
            </div>

        </div>
    </div>
</div>