<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Freshshop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

</head>

<body class="{{block "body-bg"}}">

    {{{body}}}

    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
            <a href="https://html.design/">html design</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script type="text/javascript" src="/js/bootstrap/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/bootstrap/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <!-- ALL PLUGINS -->
    <script type="text/javascript" src="/js/bootstrap/jquery.superslides.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="/js/bootstrap/inewsticker.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootsnav.js"></script>
    <script type="text/javascript" src="/js/bootstrap/images-loded.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/isotope.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/baguetteBox.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/form-validator.min.js"></script>
    {{{block "script"}}}

    <script type="text/javascript" src="/js/customjs/contact-form-script.js"></script>
    <script type="text/javascript" src="/js/customjs/custom.js"></script>
    <script type="text/javascript" src="/js/customjs/add-to-cart.js"></script>


</body>

</html>