{{>loginbar}}
{{>navbar}}
<div class="my-container">
    <div class="login-needed shadow mx-auto">
        <h1 class="text-center mt-5">You need to Login to continued</h1>
        <a href="/user" class="btn btn-primary">Login</a>
    </div>
</div>
{{>instagramFeed}}
{{>footer}}