<!-- Start All Title Box -->
{{>loginbar}}
{{>navbar}}


<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Checkout</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>Billing address</h3>
                    </div>
                    <form class="needs-validation customer-infor" novalidate>
                        <button type="submit">asdasd</button>
                        <div class="row">
                            <div class="col-md-12 mb-12">
                                <div class="form-group">
                                    <label for="firstName">Name *</label>
                                    <input type="text" class="form-control" required id="name" placeholder="" value="">
                                    <div class="invalid-feedback"> Valid first name is required. </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email Address *</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                            <div class="invalid-feedback"> Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Phone *</label>
                            <input type="text" class="form-control" id="phone" placeholder="" required>
                            <div class="invalid-feedback"> Please enter your phone number. </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Address *</label>
                            <input type="text" class="form-control" id="address" placeholder=""> </div>
                        <div class="invalid-feedback"> Please enter your Address. </div>
                        <hr class="mb-4">
                        <hr class="mb-4">
                        <div class="title"> <span>Payment</span> </div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                    checked required>
                                <label class="custom-control-label" for="credit">Credit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="cod" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="cod">COD</label>
                            </div>
                        </div>
                        <div id="dialog"></div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="shipping-method-box">
                            <div class="title-left">
                                <h3>Shipping Method</h3>
                            </div>
                            <div class="mb-4">
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption1" name="shipping-option" class="custom-control-input"
                                        checked="checked" type="radio">
                                    <label class="custom-control-label" for="shippingOption1">Standard Delivery</label>
                                    <span class="float-right font-weight-bold">FREE</span> </div>
                                <div class="ml-4 mb-2 small">(3-7 business days)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption2" name="shipping-option" class="custom-control-input"
                                        type="radio">
                                    <label class="custom-control-label" for="shippingOption2">Express Delivery</label>
                                    <span class="float-right font-weight-bold">$10.00</span> </div>
                                <div class="ml-4 mb-2 small">(2-4 business days)</div>
                            </div>
                            <div class="mb-0">
                                <label for="discountCode" class="mr-2">Discount Code</label>
                                <input type="text" class="mr-2" id="discountCode">
                                <button class="btn btn-primary" id="check">Check</button>
                            </div>
                            <span id="check-message"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>Shopping cart</h3>
                            </div>
                            <div class="rounded p-2 bg-light cart">
                                {{#each cart}}
                                <div class="media mb-2 border-bottom">
                                    <div class="media-body"> <a class="title"> {{title}}</a>
                                        <div class="small text-muted">Price: $<span class="price">{{price}}</span><span
                                                class="mx-2">|</span> Qty:<span class="quantity">
                                                {{quantity}}</span>
                                            <span class="mx-2">|</span> Subtotal: $<span class="subtotal"></span></div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h3>Your order</h3>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold">Product</div>
                                <div class="ml-auto font-weight-bold">Total</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Total</h4>
                                <div class="ml-auto font-weight-bold"> $ <span id="total"> </span></div>
                            </div>
                            <div class="d-flex">
                                <h4>Discount</h4>
                                <div class="ml-auto font-weight-bold"> $ <span id="discount">0</span></div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Shipping Cost</h4>
                                <div class="ml-auto font-weight-bold"> Free </div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> $ <span id="grand-total"> </span></div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 d-flex shopping-box"> <a href="checkout.html" class="ml-auto btn hvr-hover"
                            id="checkout">Place
                            Order</a> </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->
{{>instagramFeed}}
{{>footer}}
<script src="/js/customjs/checkout.js"></script>
<script src="/js/customjs/discount-Code.js"></script>